{% extends "base.html" %}

{% load staticfiles %}
{% block head_content %}
    <title>Game</title>
    <link type="text/css" rel="stylesheet" href="{% static "mud/game_style.css" %}" />
{% endblock %}

{% block content %}
<p>The Game Window</p>
<div id="message_box"></div>
<form name="message" action="">
    <label for="user_text">Input:</label><input name="user_text" type="text" id="user_text"/>
<input name="submit" type="submit" id="message_submit" value="Send"/>
</form>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">
var HOME_URL = "{% url "home" %}";
var AJAX_URL = "{% url "game_ajax" %}";
</script>
<script type="text/javascript" src="{% static "mud/game.js" %}"></script>
{% endblock %}
