<table class='table_data'>
    <tr><td colspan="2">--------------------------------- Command List ---------------------------------</td></tr>
    <tr><td> / </td><td> Repeats your last command exactly.</td></tr>
    <tr><td> chat &lt;msg&gt; </td><td> Sends message to everyone in the game</td></tr>
    <tr><td> experience </td><td> Shows your experience statistics</td></tr>
    <tr><td> help </td><td> Shows this menu</td></tr>
    <tr><td> inventory </td><td> Shows a list of your items</td></tr>
    <tr><td> quit </td><td> Allows you to leave the realm.</td></tr>
    <tr><td> remove <'weapon'/'armor'&gt; </td><td> Removes your weapon or armor</td></tr>
    <tr><td> stats </td><td> Shows all of your statistics</td></tr>
    <tr><td> editstats </td><td> Edit your statistics</td></tr>
    <tr><td> train </td><td> Go to train using StatPoints</td></tr>
    <tr><td> time </td><td> Shows the current system time.</td></tr>
    <tr><td> use &lt;item> </td><td> Use an item in your inventory</td></tr>
    <tr><td> whisper &lt;who> &lt;msg&gt; </td><td> Sends message to one person</td></tr>
    <tr><td> who </td><td> Shows a list of everyone online</td></tr>
    <tr><td> who all </td><td> Shows a list of everyone</td></tr>
    <tr><td> look </td><td> Shows you the contents of a room</td></tr>
    <tr><td> north/east/south/west </td><td> Moves in a direction</td></tr>
    <tr><td> get/drop &lt;item&gt; </td><td> Picks up or drops an item on the ground</td></tr>
    <tr><td> attack &lt;enemy&gt; </td><td> Attacks an enemy</td></tr>
{#    <tr><td> talk </td><td> Talks to NPC's in the room</td></tr>#}
    <tr><td> list </td><td> List the items an NPC has for sale</td></tr>
    <tr><td> buy &lt;item name / id&gt; </td><td> Buys an item from the store</td></tr>
    <tr><td> sell &lt;item name&gt; </td><td> Sells an item to the store</td></tr>
{#    <tr><td> inspect &lt;item name&gt; </td><td> Shows stats of an item</td></tr>#}
{#    <tr><td> map </td><td> Shows the map</td></tr>#}
    <tr><td colspan="2">--------------------------------------------------------------------------------</td></tr>

</table>
