{% extends "base.html" %}

{% load staticfiles %}
{% block head_content %}
    <title>Game Login</title>
    <link type="text/css" rel="stylesheet" href="{% static "mud/game_style.css" %}" />
{% endblock %}

{% block content %}
<h2>Welcome to SimpleMud!</h2>
<p>Choose the player you wish to play as:</p>
{% for player in players %}
    <div><input type="button" name="player_{{ player.id }}" value="{{ player.name }}" onclick="window.location = '{% url "game" player.id %}';"/></div>
{% endfor %}
{% endblock %}
