<table class='table_data'>
    <tr><td>Name:</td><td>{{ name }}</td><td> </td><td> </td></tr>
    <tr><td>HP/Max:</td><td>{{ hp }}/{{ max_hp }} ({{ hp_percent }}%)</td><td> </td><td> </td></tr>
    <tr><td>Level:</td><td>{{ level }}</td><td> </td><td> </td></tr>
    <tr><td>Experience:</td><td>{{ experience }}/{{ need_for_level }} ({{ exp_percent }}%)</td><td> </td><td> </td></tr>
    <tr><td>Strength:</td><td>{{ strength }}</td><td>Accuracy:</td><td>{{ accuracy }}</td></tr>
    <tr><td>Health:</td><td>{{ health }}</td><td>Dodging:</td><td>{{ dodging }}</td></tr>
    <tr><td>Agility:</td><td>{{ agility }}</td><td>Strike Damage:</td><td>{{ strike_damage }}</td></tr>
    <tr><td>StatPoints:</td><td>{{ stat_points }}</td><td>Damage Absorb:</td><td>{{ damage_absorb }}</td></tr>
</table>
