<table class='dim_table_data'>
    <tr><td class='bold' colspan="2">---------------------- Your Stats ----------------------</td></tr>
    <tr><td>Player: </td><td>{{ name }}</td></tr>
    <tr><td>Stat Points Left: </td><td>{{ stat_points }}</td></tr>
    <tr><td>1) Strength: </td><td>{{ strength }}</td></tr>
    <tr><td>2) Health: </td><td>{{ health }}</td></tr>
    <tr><td>3) Agility: </td><td>{{ agility }}</td></tr>
    <tr><td class='bold' colspan="2">--------------------------------------------------------</td></tr>
</table>
<p class='bold'>Enter 1, 2, or 3 to add a stat point, or \"quit\" to go back:</p>
